.index{
    background-image: url("./img/background-2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height:  800px;
}
.logo{
    float: left;
}   
.item{
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    text-decoration: none;
    color: #ddd7ca;
}
.on{
    background-color: #44505fcf;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    text-decoration: none;
    color: #ddd7ca;
}
.duong-link{
    margin: auto 10px 10px auto; 
    float: right;
    font-size: 100%;
    padding-right: 20px;
    color:#ffffffa4;
    text-transform: uppercase;
    text-decoration: none;
}
.duong-link-con{
        display: inline;
        margin: 0px 3px
    }
.bottom {
    background-color: #252f5f;
    font-family: Arial;
    text-align: center;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;

}
.top{
    width: 100%;
    background-color: #252f5f;
    height: 70px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
.banner {
    padding-top: 23px;
}
.image-container {
    position: relative;
    display: inline-block;

}
.text {
    text-align: center;
    color:#7b1d1d;
    font-size:200%;
}
.text-overlay {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px; 
    font-size: 30px;
    color: #ffffff;
}
h1{
    position:absolute;
    left: 40%;
    font-size:400%;
    color: white;
    top: 90%;
}
h2{
    font-size:300%;
    color: white;
}
h3 {
    position: absolute;
    top: 90%;
    right:  5%;
    color: white;
}
h5 {
    position: absolute;
    top:86%;
    right:  5%
}
body {
    background-color: #252f5f;
    color:rgb(232, 229, 225);
}
.line1 {
    padding-left: 15%
}